/*Add your CSS below!*/
* {
  background-color: grey;
  font-family: Arial;
}

img {
  height: 200px;
  width: 200px;
  margin: auto;
}

h1 {
    color: #a6c510;
}

h3{
    color: #a6c510;
}

p {
  color: #e7e8e7;
}

li {
  color: #e7e8e7;
}
